@model ICollection<Core.ViewModels.FacilityViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var facility in Model)
    {
        <div class="col s12 m6 l4 section">
            <div class="card-panel z-depth-2">
                <div class="card-content">
                    <span class="card-title">@facility.Name</span>
                    <span class="right">
                        <a href="@Url.Action("Details", new { facility.Id })">
                            <i class="material-icons">edit</i>
                        </a>
                    </span>
                    @Html.Partial("_DisplayFacilityComponents", facility.Components)
                </div>
            </div>
        </div>
    }
</div>