@model Web.Models.Components.SmoothSlider

<form action="#">
    <p class="range-field">
        <input type="range" id="test5" min="@Model.MinValue" max="@Model.MaxValue" value="@Model.Value" />
    </p>
</form>