@model Web.Models.Components.Switch

<div class="switch">
    <label>
        Off
        <input type="checkbox" checked="@Model.IsOn">
        <span class="lever"></span>
        On
    </label>
</div>